%header
  %h1
    Card Shuffler
  %p
    There are a variety of ways a deck of cards can be shuffled. Below are a few of
    these techniques that introduce varying degrees of randomness. The techniques are
    arranged from the least random on the left to the most random on the right.
